{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
{% if object_list %}

{% autopaginate object_list 25 %}
{% paginate %}
    <table class="zebra-striped">
      <thead>
        <tr>
          <th style="width: 15%;">Added</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>

{% for item in object_list %}
        <!-- new item -->
        <tr>
          <td>{{ item.datetime|date:"d/m/Y" }}</td>
          <td>
            <p class="trigger">
            <span class="title"><a href="{% url rp_edit item.id %}">{% if item.title %}{{ item.title }}{% else %}No title yet{% endif %}</a></span>
            <span class="url">{{ item.url }}</span>
            </p>
          </td>
        </tr>
{% endfor %}

      </tbody>
    </table>

{% paginate %}

  </div>
</div>

{% else %}
<p>No links.</p>
{% endif %}
<script src="/static/js/libs/jquery-1.6.4.min.js"></script>
<script src="/static/js/charCount.js"></script>
<script>
$(document).ready(function(){
  $('.edit').hide();
  $('.tweet').charCount();
  $('.trigger').click(function(){
    var edit = $(this).siblings('.edit');
    var url  = edit.find('.link').val();
    var anch = $(this).parent().parent();

    $('html, body').animate({ scrollTop: anch.offset().top }, 500);

    if (edit.find('iframe').length == 0) { edit.find('.preview').append('<iframe src="' + url + '"></iframe>'); }

    edit.slideToggle();
  });
});
</script>
{% endblock %}
