{% extends "base.html" %}

{% block content %}
{% if object_list %}

    <table class="zebra-striped">
      <thead>
        <tr>
          <th style="width: 15%;">Added</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>

{% for item in object_list %}
        <!-- new item -->
        <tr>
          <td>{{ item.datetime|date:"d/m/Y" }}</td>
          <td>
            <p class="trigger">
            <span class="title">{% if item.title %}{{ item.title }}{% else %}No title yet{% endif %}</span>
            <span class="url">{{ item.url }}</span>
            </p>
          </td>
        </tr>
{% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% else %}
<p>Empty items, go <a href="{% url fill %}">here</a> to import data</p>
{% endif %}
{% endblock %}
