{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
{% if object_list %}

{% autopaginate object_list 25 %}
{% paginate %}
    <table class="zebra-striped">
      <thead>
        <tr>
          <th style="width: 15%;">Added</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>

{% for item in object_list %}
        <!-- new item -->
        <tr>
          <td>{{ item.datetime|date:"d/m/Y" }}</td>
          <td>
            <p class="trigger">
            <span class="title">{{ item.get_title }}</span>
            <span class="url">{{ item.url }}</span>
            </p>
            <div class="info"></div>
            <div class="edit">
              <form action="{% url save %}" method="post">
                <div style="display:none"><input type="hidden" value="{{ item.id }}" name="id"></div>
                {% csrf_token %}
                <p><label for="lang-{{ item.id }}">Language</label> <input type="text" name="lang" id="lang-1" class="lang" value="{{ item.get_langue }}" /></p>
                <p><label for="title-{{ item.id }}">Title</label> <textarea type="text" name="title" id="title-1" class="tweet">[{{ item.get_langue }}]{{ item.get_title }}</textarea></p>
                <p><label for="url-{{ item.id }}"><a href="{{ item.url }}">URL</a></label> <input type="text" name="url" id="url-1" class="link" value="{{ item.url }}" /></p>
                <p class="submit">
                  <span>
                    <input type="radio" name="published" id="arch-1" value="False" checked="checked" /> <label for="arch-1" style="margin-right: 1em;">Archive</label>
                    <input type="radio" name="published" id="pub-1" value="True" /> <label for="pub-1">Publish</label>
                  </span>
                  <input type="hidden" value="" />
                  <input type="submit" value="Save" />
                </p>
              </form>
              <div class="preview">
                <p class="label">Preview</p>
                <noscript><iframe src="{{ item.url }}"></iframe></noscript>
              </div>
            </div>
          </td>
        </tr>
{% endfor %}

      </tbody>
    </table>

{% paginate %}

  </div>
</div>

{% else %}
<p>No links.</p>
{% endif %}
<script src="/static/js/libs/jquery-1.6.4.min.js"></script>
<script src="/static/js/charCount.js"></script>
<script>
$(document).ready(function(){
  $('.edit').hide();
  $('.tweet').charCount();
  $('.trigger').click(function(){
    var edit = $(this).siblings('.edit');
    var url  = edit.find('.link').val();
    var anch = $(this).parent().parent();

    $('html, body').animate({ scrollTop: anch.offset().top }, 500);

    if (edit.find('iframe').length == 0) { edit.find('.preview').append('<iframe src="' + url + '"></iframe>'); }

    edit.slideToggle();
  });

   $('form').submit(function(event){
       event.preventDefault();
       // $(this).parent().parent().parent().hide("slow");
       var form = $(this);
       $.post("{% url save %}", $(this).serialize(), function(data) {
         if (data == "ok") {
             form.parent().parent().parent().hide("slow");
         } else if (data == "nok") {
             form.parent().parent().find('div.info').append('<p>Error: can\'t get the object!</p>')
         } else if (data != "nok") {
             data;
         }
     })
 });
});

jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}
