<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/global.css" />
  <link rel="icon" href="http://nurpa.be/favicon.png" />

  <title>NURPA RP</title>
</head>
<body>
<div id="wrapper">
  <ul id="nav">
      <li><a href="{% url rp_list %}">Manage latest links</a></li><li><a href="{% url rp_list_published %}">Published links</a></li><li><a href="{% url rp_list_archived %}">Archives</a></li>{% if user.is_authenticated %}<li><a href="http://identi.ca/proutlab">Identica</a></li><li><a href="{% url logout %}">Logout</a></li>{% endif %}<li id="rss"><a href="{% url rss %}">RSS</a></li>
  </ul>

  <div id="global">
{% block content %}
{% endblock %}
  </div>

</div>
</body>
</html>
