<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/global.css" />
  <link rel="icon" href="http://nurpa.be/favicon.png" />

  <title>NURPA RP</title>
</head>
<body>
<div id="wrapper">
  <ul id="nav">
      <li><a href="{% url rp_list %}">Manage latest links</a></li><li><a href="{% url rp_list_published %}">Published links</a></li><li><a href="{% url rp_list_archived %}">Archives</a></li><li id="rss"><a href="{% url rss %}">RSS</a></li>
  </ul>

  <div id="global">
{% block content %}
{% endblock %}
  </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
<script src="/static/js/charCount.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.4.min.js">\x3C/script>')</script>
<script>
$(document).ready(function(){
  $('.edit').hide();
  $('.tweet').charCount();
  $('.trigger').click(function(){
    var
      edit = $(this).siblings('.edit'),
      url  = edit.find('.link').val(),
      anch = $(this).parent().parent();

    $('html, body').animate({ scrollTop: anch.offset().top }, 500);

    if (edit.find('iframe').length == 0) { edit.find('.preview').append('<iframe src="' + url + '"></iframe>'); }

    edit.slideToggle();
  });
});
</script>
</body>
</html>
